// gloabals for this component
$lo-thcolor1: #1B192A;
$lo-thcolor2: #FF3E2F;
$lo-thcolor3: #E9E8E1;
$lo-thcolor4: #4FB398;

.login-one {
    background: #fff;
    font-family: 'contentFont';
    z-index: 9;

    .login-one__balls{
        position: absolute;
    }
}