<div class="menu-bar">
    <div class="menu" (click)="changeMenu('Home')">
        <div class="item item1" [ngClass]="{'item1-active': selectedMenu=='Home'}">
            <img src="../../../../assets/icons/line-chart.svg" alt="Home">
        </div>
        <div class="menu-name pointer" [ngClass]="{'menu-name-active': selectedMenu=='Home'}">home</div>
    </div>
    <div class="menu" (click)="changeMenu('Element')">
        <div class="item item2" [ngClass]="{'item2-active': selectedMenu=='Element'}">
            <img src="../../../../assets/icons/dice.svg" alt="Element">
        </div>
        <div class="menu-name pointer" [ngClass]="{'menu-name-active': selectedMenu=='Element'}"> &lt; /&gt;</div>
    </div>
    <div class="menu" (click)="changeMenu('logo')">
        <div class="item item3" [ngClass]="{'item3-active': selectedMenu=='logo'}">
            <img src="../../../../assets/icons/poop.svg" alt="logo">
        </div>
        <div class="menu-name pointer" [ngClass]="{'menu-name-active': selectedMenu=='logo'}">logo</div>
    </div>
    <div class="menu" (click)="changeMenu('Extra')">
        <div class="item item4" [ngClass]="{'item4-active': selectedMenu=='Extra'}">
            <img src="../../../../assets/icons/start.svg" alt="Extra">
        </div>
        <div class="menu-name pointer" [ngClass]="{'menu-name-active': selectedMenu=='Extra'}">Extra</div>
    </div>
    <div class="menu" (click)="changeMenu('Me ?')">
        <div class="item item5" [ngClass]="{'item5-active': selectedMenu=='Me ?'}">
            <img src="../../../../assets/icons/coffee-cup.svg" alt="A">
        </div>
        <div class="menu-name pointer" [ngClass]="{'menu-name-active': selectedMenu=='Me ?'}">Me ?</div>
    </div>
</div>