<div class="logo-feed">
  <div class="logo-card pointer" *ngFor="let feed of feeds" (click)="viewLogo(feed.logo_id)">
     <img src={{feed.logo_cover_url}} alt="">
  </div>
  <div class="more-button" (click)="fetchMoreFeed()" [ngClass]="{'botton-disable': (pageSize === totalFeeds)}">
      <div class="text" *ngIf="pageSize < totalFeeds"> {{texts[0]}} </div>
      <div class="text" *ngIf="pageSize === totalFeeds"> {{texts[1]}} </div>
      <div class="icon" *ngIf="pageSize < totalFeeds">
        <img src="https://firebasestorage.googleapis.com/v0/b/subuswork.appspot.com/o/framework%2Ficons%2Fbasic%2Fnext.svg?alt=media&token=1b9cef47-ab7b-4b78-814d-522f151eca27"
          alt="">
      </div>
    </div>
</div>