<div class="element">
  <div class="element-card" *ngFor="let feed of allFeeds">
    <div class="element-card-title pointer" (click) = "openElementDetailsPage(feed.element_id)"> {{feed.element_feed_title}}</div>
    <div class="element-card-description">{{feed.element_feed_desription}}</div>
          <div class="element-card-hero" *ngIf="feed.element_feed_image_exist">
            <img src="feed.element_feed_image_url" alt="loading..">
          </div>
      <div class="element-card-end"></div>
    </div>
</div>
