<div class="element">
  <div class="element-card">
    <div class="element-card-hero">
      <img src="https://cdn2.digitalartsonline.co.uk/cmsdata/slideshow/3640076/2c239f38241791_5759f8a7dd956.gif" alt="loading..">
    </div>
    <div class="element-card-title pointer"> Card type folding div animation with CSS and TS</div>
    <div class="element-card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint fugit beatae accusantium illo ab ullam, perferendis laborum
      repellat atque, nam ut qui ratione omnis, magni laudantium dolore laboriosam tempore eius?</div>
    <div class="element-card-end"></div>
  </div>

  <div class="element-card">
    <div class="element-card-hero">
      <img src="https://cdn2.digitalartsonline.co.uk/cmsdata/slideshow/3640076/2c239f38241791_5759f8a7dd956.gif" alt="loading..">
    </div>
    <div class="element-card-title pointer"> Card type folding div animation with CSS and TS</div>
    <div class="element-card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint fugit beatae accusantium illo ab ullam, perferendis laborum
      repellat atque, nam ut qui ratione omnis, magni laudantium dolore laboriosam tempore eius?</div>
    <div class="element-card-end"></div>
  </div>

  <div class="element-card">
    <div class="element-card-hero">
      <img src="https://cdn2.digitalartsonline.co.uk/cmsdata/slideshow/3640076/2c239f38241791_5759f8a7dd956.gif" alt="loading..">
    </div>
    <div class="element-card-title pointer"> Card type folding div animation with CSS and TS</div>
    <div class="element-card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint fugit beatae accusantium illo ab ullam, perferendis laborum
      repellat atque, nam ut qui ratione omnis, magni laudantium dolore laboriosam tempore eius?</div>
    <div class="element-card-end"></div>
  </div>


  <div class="element-card">
    <div class="element-card-hero">
      <img src="https://cdn2.digitalartsonline.co.uk/cmsdata/slideshow/3640076/2c239f38241791_5759f8a7dd956.gif" alt="loading..">
    </div>
    <div class="element-card-title pointer"> Card type folding div animation with CSS and TS</div>
    <div class="element-card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint fugit beatae accusantium illo ab ullam, perferendis laborum
      repellat atque, nam ut qui ratione omnis, magni laudantium dolore laboriosam tempore eius?</div>
    <div class="element-card-end"></div>
  </div>
</div>