<div class="logo1">
  <div class="parent_layer">
    <div class="layer1"
         [ngClass] = "{'bg-grad7' : (time == 7),
                      'bg-grad8' : (time == 8),
                      'bg-grad9' : (time == 9),
                      'bg-grad10' : (time == 10),
                      'bg-grad11' : (time == 11),
                      'bg-grad12' : (time == 12),
                      'bg-grad13' : (time == 13),
                      'bg-grad14' : (time == 14),
                      'bg-grad15' : (time == 15),
                      'bg-grad16' : (time == 16),
                      'bg-grad17' : (time == 17),
                      'bg-grad18' : (time == 18),
                      'bg-grad19' : (time == 19),
                      'bg-grad20' : (time == 20),
                      'bg-grad21' : (time >=21)}"></div>
  </div>
</div>