// component wrapper
.logo1 {
    height: 140px;
    padding-top: 30px;
    width: 600px;
    margin: auto;
    transition: .4s all cubic-bezier(0.18, 0.89, 0.32, 1.28); // component foundation layer
    .parent_layer {
        position: absolute;
        height: 140px;
        width: 600px;
        border-radius: 100px;
        overflow: hidden;
        transition: .4s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
    } // layer1 - background gradients initial stylings
    .layer1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #011133;
        transition: 1s all linear;
        z-index: 1;
    }
    .layer2 {
        position: absolute;
        display: visible;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ff7554;
        transition: top 1s linear, left 1s linear;
        -webkit-box-shadow: 0px 0px 20px -1px rgba(255, 227, 84, 1);
        -moz-box-shadow: 0px 0px 20px -1px rgba(255, 227, 84, 1);
        box-shadow: 0px 0px 20px -1px rgba(255, 227, 84, 1);
        z-index: 2;
    }
    .layer3 {
        position: absolute;
        display: visible;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #bde4dc;
        -webkit-box-shadow: 0px 0px 20px -1px rgba(79, 250, 213, 1);
        -moz-box-shadow: 0px 0px 20px -1px rgba(79, 250, 213, 1);
        box-shadow: 0px 0px 20px -1px rgba(79, 250, 213, 1);
        transition: top 1s linear, left 1s linear;
        z-index: 3;
    }
    .layer4 {
        position: absolute;
        display: visibile;
        width: 600px;
        height: 140px;
        top: 0;
        left: 0;
        background: url('../../../../assets/sprites/logo1/landscape-sprite.png');
        background-size: cover;
        z-index: 4;
        background-repeat: no-repeat;
        background-position: 0px 17px;
    }
    .layer5 {
        position: absolute;
        left: calc(50% - 36px);
        top: 13px;
        width: 75px;
        height: 40px;
        background-position: -20px 0px;
        background: url('../../../../assets/image/logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px -49px;
        z-index: 7;
    }
    .layer6 {
        position: absolute;
        left: -31px;
        top: 40px;
        width: 600px;
        height: 40px;
        background: url('../../../../assets/sprites/logo1/cloud.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 3;
        opacity: 0;
        transition: 1s opacity linear;
    }
    .layer7 {
        position: absolute;
        left: 0;
        top: 0;
        width: 600px;
        height: 140px;
        background: url('../../../../assets/sprites/logo1/star.png');
        background-size: cover;
        z-index: 1;
        transition: 1s opacity Linear;
    }
}

@media only screen and (max-width: 600px) {
    .logo1 {
        height: 140px;
        padding-top: 30px;
        width: 100%;
        margin-top: -31px;
        margin-left: 0px;
        margin-right: 0px;
        transition: .4s all cubic-bezier(0.18, 0.89, 0.32, 1.28); // component foundation layer
        .parent_layer {
            position: absolute;
            height: 140px;
            width: 100%;
            border-radius: 0px;
            overflow: hidden;
            transition: .4s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
        } // layer1 - background gradients initial stylings
        .layer1 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #011133;
            transition: 1s all linear;
            z-index: 1;
        }
        .layer2 {
            position: absolute;
            display: visible;
            left: 0;
            top: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #ff7554;
            transition: top 1s linear, left 1s linear;
            -webkit-box-shadow: 0px 0px 20px -1px rgba(255, 227, 84, 1);
            -moz-box-shadow: 0px 0px 20px -1px rgba(255, 227, 84, 1);
            box-shadow: 0px 0px 20px -1px rgba(255, 227, 84, 1);
            z-index: 2;
        }
        .layer3 {
            position: absolute;
            display: visible;
            left: 0;
            top: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #bde4dc;
            -webkit-box-shadow: 0px 0px 20px -1px rgba(79, 250, 213, 1);
            -moz-box-shadow: 0px 0px 20px -1px rgba(79, 250, 213, 1);
            box-shadow: 0px 0px 20px -1px rgba(79, 250, 213, 1);
            transition: top 1s linear, left 1s linear;
            z-index: 3;
        }
        .layer4 {
            position: absolute;
            display: visibile;
            width: 600px;
            height: 140px;
            top: 0;
            left: 0;
            background: url('../../../../assets/sprites/logo1/landscape-sprite.png');
            background-size: cover;
            z-index: 4;
            background-repeat: no-repeat;
            background-position: 0px 17px;
        }
        .layer5 {
            position: absolute;
            left: calc(50% - 36px);
            top: 13px;
            width: 75px;
            height: 40px;
            background-position: -20px 0px;
            background: url('../../../../assets/image/logo.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0px -49px;
            z-index: 6;
        }
        .layer6 {
            position: absolute;
            left: -31px;
            top: 40px;
            width: 600px;
            height: 40px;
            background: url('../../../../assets/sprites/logo1/cloud.png');
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 3;
            opacity: 0;
            transition: 1s opacity linear;
        }

        .layer7 {
            position: absolute;
            left: 0;
            top: 0;
            width: 600px;
            height: 140px;
            background: url('../../../../assets/sprites/logo1/star.png');
            background-size: cover;
            z-index: 1;
            transition: 1s opacity Linear;
        }
    }
}