<div class="social-connect">
  <div class="social-icon-list">

    <div class="social-icon" *ngFor="let social of social_link" >
      <div class="icon" [ngClass]= "{'icon-disabled':(social.socialLink_disabled) }" (click)="redirectTo(social.socialLink_url, social.socialLink_openNewTab)" *ngIf = "social.socialLink_shouldShow">
        <img src="{{base_url}}{{social.socialLink_icon}}" alt="{{social.socialLink_name}}">
      </div>
    </div>

    <!-- <div class="social-icon">
        <div class="icon icon-insta" (click)="redirectTo('instagram')">
          <img src="../../../../assets/icons/instagram.svg" alt="Instagram">
        </div>
      </div>
      <div class="social-icon">
        <div class="icon icon-fb" (click)="redirectTo('facebook')" >
          <img src="../../../../assets/icons/facebook.svg" alt="Facebook">
        </div>
      </div>
      <div class="social-icon">
        <div class="icon icon-ln" (click)="redirectTo('linkedin')" >
          <img src="../../../../assets/icons/linkedin.svg" alt="LinkedIn">
        </div>
      </div>
      <div class="social-icon">
        <div class="icon icon-yt" (click)="redirectTo('youtube')" >
          <img src="../../../../assets/icons/youtube.svg" alt="Youtube">
        </div>
      </div>
      <div class="social-icon">
        <div class="icon icon-git" (click)="redirectTo('git')" >
          <img src="../../../../assets/icons/git.svg" alt="Git">
        </div>
      </div> -->
  </div>
</div>