<div class="extra">
  <div class="project"  *ngFor="let feed of feeds"  [ngStyle]="{'background': feed.extra_style.background , 'color': feed.extra_style.color}">
    <div class="project-hero">
      <img src={{feed.extra_hero_image_url}} alt="">
    </div>
    <div class="project-title-text">
     {{feed.extra_title}}
    </div>
    <div class="project-content-gallery">
      <div class="image" *ngFor="let content of feed.extra_content">
        <img src={{content.extra_content_img_url}} alt="">
      </div>
    </div>
  </div>

  <div class="more-button" (click)="fetchMoreFeed()" [ngClass]="{'botton-disable': (pageSize === totalFeeds)}">
    <div class="text" *ngIf="pageSize < totalFeeds"> {{texts[0]}} </div>
    <div class="text" *ngIf="pageSize === totalFeeds"> {{texts[1]}} </div>
    <div class="icon" *ngIf="pageSize < totalFeeds">
      <img src="https://firebasestorage.googleapis.com/v0/b/subuswork.appspot.com/o/framework%2Ficons%2Fbasic%2Fnext.svg?alt=media&token=1b9cef47-ab7b-4b78-814d-522f151eca27"
        alt="">
    </div>
  </div>

</div>