.extra {
    .project {
        width: 80%;
        height: 300px;
        margin: 30px auto 70px auto;
        overflow: hidden;
        .ribbon {
            position: absolute;
            width: 100px;
            height: 300px;
            /* background: pink; */
            left: 50%;
            transform: rotateZ(33deg);
            opacity: 0.2;
            border-radius: 100px; // background-color: #21D4FD;
            // background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%)
            background-color: #4158D0;
            background-image: linear-gradient(230deg, #4158D0 0%, #C850C0 53%, #fdd489 83%);
        }
        .project-hero {
            float: left;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 25px;
            img {
                width: 100%;
            }
        }
        .project-info {
            float: left;
            width: 400px;
            height: 300px;
            .title {
                font-family: 'contentFont';
                text-align: center;
                font-size: 22px;
                margin: 20px 0px;
            }
            .note {
                font-family: 'contentFont';
                line-height: 30px;
                text-align: left;
                margin-top: 10px;
                padding-left: 30px;
                font-size: 16px;
            }
        }
        .project-gallery {
            float: left;
            width: 150px;
            height: 300px;
            padding-top: 8px;
            .image {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                margin: 5px;
                float: left;
                img {
                    width: 100%;
                }
            }
        }
    }
    .more-button {
        float: right;
        margin: 20px;
        background: #f1f1f1;
        width: 130px;
        height: 20.3px;
        border-radius: 30px;
        padding: 14px 10px;
        font-size: 19px;
        font-family: "contentFont";
        text-align: center;
        transition: all .2s ease-in-out;
        cursor: pointer;
        .text {
            float: left;
            margin-left: 35px;
        }
        .icon {
            margin-top: 1px;
            float: left;
            width: 20px;
            height: 20px;
            margin-left: 15px;
            transition: all .2s ease-in-out;
        }
    }
    .more-button:hover {
        background: #edf7fe;
        -webkit-box-shadow: -4px 8px 27px -4px rgba(136, 136, 136, 0.75);
        -moz-box-shadow: -4px 8px 27px -4px rgba(136, 136, 136, 0.75);
        box-shadow: -4px 8px 27px -4px rgba(136, 136, 136, 0.75);
        .icon {
            transform: rotateZ(90deg);
        }
    }
    .botton-disable {
        background: #f1f1f1;
        cursor: default;
        pointer-events: none;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .extra {
        .project {
            width: calc(100% - 40px);
            height: 300px;
            margin: 10px;
            margin: 10px auto;
            overflow: hidden;
            max-width: 600px;
            .project-hero {
                float: left;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                overflow: hidden;
                margin-top: 31px;
                img {
                    width: 100%;
                }
            }
            .project-info {
                float: right;
                width: calc(100% - 212px);
                height: 230px;
            }
            .project-gallery {
                float: none;
                width: 100%;
                clear: both;
                text-align: center;
                height: 50px;
                padding-top: 8px;
            }
        }
    }
}

@media Only screen and (max-width: 600px) {
    .extra {
        .project {
            width: calc(100% - 40px);
            height: auto;
            margin: 10px;
            margin: 40px auto;
            overflow: hidden;
            max-width: 600px;
            .ribbon {
                position: absolute;
                width: 150px;
                height: 400px;
                left: 8%;
                transform: rotateZ(42deg);
                opacity: 0.2;
                border-radius: 100px;
                background-color: #4158D0;
                background-image: linear-gradient(230deg, #4158D0 0%, #C850C0 53%, #fdd489 83%);
            }
            .project-hero {
                float: none;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
                margin: 31px auto 0px auto;
                img {
                    width: 100%;
                }
            }
            .project-info {
                float: none;
                clear: both;
                width: 100%;
                height: auto;
            }
            .project-gallery {
                float: none;
                margin: auto;
                clear: both;
                text-align: center;
                height: 50px;
                padding-top: 0px;
            }
        }
    }
}