<div class="extra-page" *ngIf="show">
  <div class="extra-page-close" (click)="goback()">
    <div _ngcontent-c13="" class="icon"><img _ngcontent-c13="" alt="" src="https://firebasestorage.googleapis.com/v0/b/subuswork.appspot.com/o/framework%2Ficons%2Fbasic%2Fnext.svg?alt=media&amp;token=1b9cef47-ab7b-4b78-814d-522f151eca27"></div>
  </div>
  <div class="extra-page__left-gallery" [ngStyle]="{'background' : extra.extra_style.background}">
    <div class="extra-page__left-gallery-hero-image">
      <img src="{{hero}}" alt="">
    </div>
    <div class="extra-page__left-gallery-slide-image">
      <div class="extra-page__gallery-thumbnail pointer" *ngFor="let thumbs of extra.extra_content" (click)="changeHero(thumbs.extra_content_img_url)">
       <img src="{{thumbs.extra_content_img_url}}" alt="">
      </div>
    </div>
  </div>
  <div class="extra-page__right-contents" [ngStyle]="{'background' : extra.extra_style.background, 'color' : extra.extra_style.color}">
    <div class="extra-page__right-socialshare-bar">Like . Share</div>
    <div class="extra-page__right-content">
      <div class="extra-page__right-content-title" [ngStyle]="{'color' : extra.extra_style.background, 'background' : extra.extra_style.color}">{{extra.extra_title}}</div>
      <div class="extra-page__right-content-description" [innerHTML]="extra.extra_desription_detailed"></div>
    </div>
  </div>
</div>