<div class="about" *ngIf="view.isActive">
  <div class="title" *ngIf="view.show_title">
    {{view.title}}
  </div>
  <!-- Static content below -->
  <div class="about-section">
    <div class="profile-pic-area">
      <div class="profile-pic-layer1"></div>
      <div class="profile-pic-layer2">
        <img src="{{view.config.defaultContent.profile_img_url}}" alt="Subramanya Shenoy">
      </div>
    </div>
    <div class="profile-detail">
      <div class="profile-info">
        {{view.config.defaultContent.profile_name}}
        <br>
        <span *ngFor='let desc of view.config.defaultContent.profile_content'>{{desc}}<br></span>
      </div>
    </div>
  </div>
  <app-social-connect-bar *ngIf='view.config.show_solcial_link'></app-social-connect-bar>
</div>