<div class="about">
  <div class="title">
    about
  </div>
  <!-- Static content below -->
  <div class="about-section">
    <div class="profile-pic-area">
      <div class="profile-pic-layer1"></div>
      <div class="profile-pic-layer2">
        <img src="../../../../assets/image/dp.jpg" alt="Subramanya Shenoy">
      </div>
    </div>
    <div class="profile-detail">
      <div class="profile-info">
        Subramanya Shenoy <br>
        Better designer than a developer,<br>
        Better developer than a designer. <br>
        Loves designing and developing UI/UX. <br>
      </div>
      <div class="profile-social-connect">

      </div>
    </div>
  </div>
  <!-- <div class="purpose-section">
    <div class="title">Purpose</div>
    <div class="content">
      This site was created to put all my web work in one place. Will be adding few more inspirational lines as I come by. <br>
      - Love
    </div>
  </div> -->
</div>