.main-river {
    width: 1020px;
    margin: auto;
    .top-menu {
        width: 100%;
        text-align: center;
        height: 60px;
    }
    .content {
        background-color: #fff;
        // min-height: calc( 100vh - 220px);
        margin: auto;
    }
}

@media only screen and (max-width: 1020px) {
    .main-river {
        width: 100%;

        .content {
            // min-height: calc( 100vh - 160px);
            width: 100%;
            margin: auto;
        }
    }
}