.main-river {
    width: 1020px;
    margin: auto;
    .top-menu {
        width: 100%;
        text-align: center;
        height: 60px;
    }
    .content {
        background-color: #fff;
        border: 1px solid #f1f1f1;
        min-height: calc( 100vh - 220px);
        border-radius: 7px;
        box-shadow: 0 3px 6px rgba(201, 201, 201, 0.16), 0 3px 6px rgba(201, 201, 201, 0.16);
        margin: auto;
    }
}

@media only screen and (max-width: 1020px) {
    .main-river {
        .content {
            background-color: #21D4FD;
            background-image: linear-gradient(265deg, #21D4FD 0%, #B721FF 100%);
            min-height: calc( 100vh - 160px);
            width: 100%;
            margin: auto;
        }
    }
}