.content {
    background: #fff;
    height: calc( 100vh - 220px);
    width: 1020px;
    margin: auto;

    .side-nav{
        float: left;
        width: 280px;
        background: #fff;
        height: 100%;
    }
}

@media only screen and (max-width: 1020px) {
    .content {
        background: #fff;
        height: calc( 100vh - 160px);
        width: 100%;
        margin: auto;

        .side-nav{
            width: 100%;
            background: #fff;
            height: 50px;
        }

    }

}