.logo-feed {
    width: 100%;
    margin: auto;
    .logo-card {
        float: left;
        height: 240px;
        width: 240px;
        background: green;
        margin: 5px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .more-button {
        float: right;
        margin: 20px;
        background: #f1f1f1;
        width: 130px;
        height: 20.3px;
        border-radius: 30px;
        padding: 14px 10px;
        font-size: 19px;
        font-family: "contentFont";
        text-align: center;
        transition: all .2s ease-in-out;
        cursor: pointer;
        .text {
            float: left;
            margin-left: 35px;
        }
        .icon {
            margin-top: 1px;
            float: left;
            width: 20px;
            height: 20px;
            margin-left: 15px;
            transition: all .2s ease-in-out;
        }
    }
    .more-button:hover {
        background: #edf7fe;
        -webkit-box-shadow: -4px 8px 27px -4px rgba(136, 136, 136, 0.75);
        -moz-box-shadow: -4px 8px 27px -4px rgba(136, 136, 136, 0.75);
        box-shadow: -4px 8px 27px -4px rgba(136, 136, 136, 0.75);
        .icon {
            transform: rotateZ(90deg);
        }
    }
    .botton-disable {
        background: #f1f1f1;
        cursor: default;
        pointer-events: none;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .logo-feed {
        width: 100vw;
        padding-left: 1vw;
        .logo-card {
            float: left;
            height: 23vw;
            width: 23vw;
            background: green;
            margin: 5px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media Only screen and (max-width: 600px) {
    .logo-feed {
        width: 100vw;
        .logo-card {
            float: left;
            height: 30vw;
            width: 30vw;
            background: green;
            margin: 5px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}