.home-template {
    // margin from golden ratio
    margin: 0px 72px;
    .banner {
        float: left;
        width: 272px;
        height: 440px;
        margin: 10px;
        border-radius: 5px;
        overflow: hidden;
        transition: .4s all linear;
        .banner-image {
            width: 100%;
            height: 272px;
            transition: .4s all linear;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .banner-text-area {
            width: 100%;
            margin-top: -24px;
            background: #eef7fe;
            height: 216px;
            transform: skewY(-10deg);
            transition: .4s all linear;
            .banner-text {
                display: block;
                font-family: "contentFont";
                transform: skewY(10deg);
                text-transform: capitalize;
                font-size: 17px;
                padding: 28px 20px 10px 20px;
                text-align: center;
                line-height: 30px;
                max-height: 130px;
                transition: .4s all linear;
                overflow: hidden;
            }
            .banner-small-text{
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .home-template {
        // margin from golden ratio
        margin: 0px 20px;
        .banner {
            width: 580px;
            height: 358.5px;
            margin-left: calc(50% - 290px);
            border-radius: 5px;
            overflow: hidden;
            .banner-image {
                float: left;
                width: 358.5px;
                height: 358.5px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .banner-text-area {
                float: right;
                height: 358.5px;
                width: 221.5px;
                margin-top: 0px;
                background: #eef7fe;
                transform: skewY(0deg);
                .banner-text {
                    display: block;
                    font-family: "contentFont";
                    text-transform: capitalize;
                    font-size: 14px;
                    padding: 20px;
                    text-align: left;
                    line-height: 30px;
                    max-height: 305px;
                    overflow: hidden;
                    transform: skewY(0deg);
                }
                .banner-small-text{
                    display: none;
                }
            }
        }
    }
}

@media Only screen and (max-width: 600px) {
    .home-template {
        // margin from golden ratio
        margin: 0px auto;
        .banner {
            float: none;
            width: 335px;
            height: 207px;
            margin: 10px auto;
            border-radius: 5px;
            overflow: hidden;
            transition: .4s all linear;
            .banner-image {
                width: 207px;
                height: 207px;
                transition: .4s all linear;
                float: left;
                img {
                    height: 207px;
                    width: 207px;
                }
            }
            .banner-text-area {
                float: right;
                width: 128px;
                margin-top: 0px;
                background: #eef7fe;
                height: 207px;
                transform: skewY(0deg);
                transition: .4s all linear;
                .banner-text {
                    display: none;
                }
                .banner-small-text{
                    display: block;
                    font-family: "contentFont";
                    transform: skewY(0deg);
                    text-transform: capitalize;
                    font-size: 13px;
                    padding: 10px 5px 5px 0px;
                    text-align: left;
                    line-height: 23px;
                    letter-spacing: 1px;
                    max-height: 207px;
                    transition: .4s all;
                }
            }
        }
    }
}