.home-template {
    // margin from golden ratio
    margin: 0px 72px;
    .banner {
        float: left;
        width: 272px;
        height: 440px;
        margin: 10px;
        border-radius: 5px;
        overflow: hidden;
        transition: .4s all ease-in-out;
        .banner-image {
            width: 100%;
            height: 272px;
            transition: .4s all ease-in-out;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .banner-text-area {
            width: 100%;
            margin-top: -24px;
            background: #eef7fe;
            height: 216px;
            transform: skewY(-10deg);
            transition: .4s all ease-in-out;
            .banner-text {
                display: block;
                font-family: "contentFont";
                transform: skewY(10deg);
                text-transform: capitalize;
                font-size: 17px;
                padding: 28px 20px 10px 20px;
                text-align: center;
                line-height: 30px;
                max-height: 130px;
                transition: .4s all ease-in-out;
                overflow: hidden;
            }
            .banner-small-text {
                display: none;
            }
        }
    }
    .banner-miniized {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        .banner-image {
            display: none;
            // transform: skewY(0deg);
            // height: 0px;
            // width: 0px;
            // padding: 0px;
            img {
                display: none;
            }
        }
        .banner-text-area {
            height: 40px;
            width: 40px;
            margin-top: 0px; 
            background: #eef7fe;
            transform: skewY(0deg);
            border-radius: 50%;

            .banner-text {
                display: none;
                // height: 0px;
                // width: 0px;
                // transform: skewY(0deg);
                // height: 0px;
                // width: 0px;
                // padding: 0px;
            }
            .banner-small-text {
                display: none;
            }
        }
    }
    .clear-left {
        clear: left;
    }
    .more-button {
        float: left;
        margin: 20px;
        background: #f1f1f1;
        width: 130px;
        height: 20.3px;
        border-radius: 30px;
        padding: 14px 10px;
        font-size: 19px;
        font-family: "contentFont";
        text-align: center;
        transition: .4s all ease-in-out;
        cursor: pointer;
        .text {
            float: left;
            margin-left: 35px;
        }
        .icon {
            margin-top: 1px;
            float: left;
            width: 20px;
            height: 20px;
            margin-left: 15px;
            transition: .4s all ease-in-out;
        }
    }
    .more-button:hover {
        background: #edf7fe;
        -webkit-box-shadow: -4px 8px 27px -4px rgba(136, 136, 136, 0.75);
        -moz-box-shadow: -4px 8px 27px -4px rgba(136, 136, 136, 0.75);
        box-shadow: -4px 8px 27px -4px rgba(136, 136, 136, 0.75);
        .icon {
            transform: rotateZ(90deg);
        }
    }
    .botton-disable{
        background: #f1f1f1;
        cursor: default;
        pointer-events: none;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .home-template {
        // margin from golden ratio
        margin: 0px 20px;
        .banner {
            width: 580px;
            height: 358.5px;
            margin-left: calc(50% - 290px);
            border-radius: 5px;
            overflow: hidden;
            .banner-image {
                float: left;
                width: 358.5px;
                height: 358.5px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .banner-text-area {
                float: right;
                height: 358.5px;
                width: 221.5px;
                margin-top: 0px;
                background: #eef7fe;
                transform: skewY(0deg);
                .banner-text {
                    display: block;
                    font-family: "contentFont";
                    text-transform: capitalize;
                    font-size: 18px;
                    padding: 20px;
                    text-align: left;
                    line-height: 35px;
                    max-height: 305px;
                    overflow: hidden;
                    transform: skewY(0deg);
                }
                .banner-small-text {
                    display: none;
                }
            }
        }
        .banner-miniized {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 0px;
            cursor: pointer;
            .banner-image {
                display: none;
                img {
                    display: none;
                }
            }
            .banner-text-area {
                float: right;
                height: 358.5px;
                width: 221.5px;
                margin-top: 0px;
                background: #eef7fe;
                transform: skewY(0deg);
                .banner-text {
                    display: none;
                }
                .banner-small-text {
                    display: none;
                }
            }
        }
        .clear-left {
            clear: left;
        }
    }
}

@media Only screen and (max-width: 600px) {
    .home-template {
        // margin from golden ratio
        margin: 0px auto;
        .banner {
            float: none;
            width: 335px;
            height: 207px;
            margin: 10px auto;
            border-radius: 5px;
            overflow: hidden;
            transition: .4s all linear;
            .banner-image {
                width: 207px;
                height: 207px;
                transition: .4s all linear;
                float: left;
                img {
                    height: 207px;
                    width: 207px;
                }
            }
            .banner-text-area {
                float: right;
                width: 128px;
                margin-top: 0px;
                background: #eef7fe;
                height: 207px;
                transform: skewY(0deg);
                transition: .4s all linear;
                .banner-text {
                    display: none;
                }
                .banner-small-text {
                    display: block;
                    font-family: "contentFont";
                    transform: skewY(0deg);
                    text-transform: capitalize;
                    font-size: 15px;
                    padding: 35px 6px;
                    overflow: hidden;
                    text-align: left;
                    line-height: 27px;
                    letter-spacing: 0px;
                    max-height: 207px;
                    transition: .4s all;
                }
            }
        }
        .banner-miniized {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 10px;
            float: left;
            cu
            .banner-image {
                display: none;
                img {
                    display: none;
                }
            }
            .banner-text-area {
                float: right;
                height: 358.5px;
                width: 221.5px;
                margin-top: 0px;
                background: #eef7fe;
                transform: skewY(0deg);
                .banner-text {
                    display: none;
                }
                .banner-small-text {
                    display: none;
                }
            }
        }
        .clear-left {
            clear: left;
        }
    }
}