.extra {
    .title {
        font-family: "titlefont";
        font-size: 29px;
        text-transform: uppercase;
        margin-top: 45px;
        margin-left: 16%;
    }
    .temp-info{
        font-family: "contentfont";
        text-align: center;
        padding: 20px 16%;
        font-size: 19px;
        line-height: 34px;
    }
}